h1{
	color: #FF8C08;
	background-color: #91E0F4;
	font-family: 'Roboto', sans-serif;
}
h2{
	color: black;
	font-family: 'Alegreya', serif;
}
body{
	background-color: #91E0F4;
}
.yellow {
	background-color: yellow;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blue {
	background-color: blue;
	width: 70px;
	height: 70px;
}
.orange {
	background-color: orange;
	width: 70px;
	height: 70px;
}
